/* Application a tout le docuemnt HTML */
html {
    font-family: cursive, sans-serif; /* Police de caractère */
    width: 100%; /* Largeur de la page */
    height: 100%; /* Hauteur de la page */

header {
    background-image: linear-gradient(rgba(196, 199, 240), rgba(43, 122, 226), rgba(196, 199, 240)); /*couleurs de fond dégradées*/
}

.box{
    display: flex; /*Affichage en flex*/
    align-items: flex-start; /*Alignement des éléments sur le haut*/
    justify-self: space-between; /*Espace entre les éléments*/
    padding-right: 1%;
}

main {
    
    background-color: rgb(202, 202, 245); /*Couleur de fond*/
}

/* Titre principal*/
h1 {
    color: rgb(43, 55, 226); /*couleur du texte*/
    text-align: center; /*Alignement du texte*/
    text-decoration: underline;  /*Texte souligné*/
}

/* Titrtes secondaires*/
h2 {
    color: rgb(43, 122, 226);/*couleur du texte*/
    text-align: left;/*Alignement du texte*/
    text-decoration: underline;  /*Texte souligné*/
}

/* Mise en page de l'image */
img {
    display: flex; /*Affichage flex*/
    margin-left: auto; /*Marge à gauche automatique*/
    margin-right: auto; /*Marge à droite automatique*/
    margin-top: 5%; /*Marge en haut */
    width: 25%; /*Largeur de l'image 25% de la taille reelle*/
    height: auto; /*Hauteur de l'image automatique par raport a la largeur*/
    border: 4mm ridge rgb(43, 122, 226); /*Bordure de l'image*/
    border-radius: 10%;/* bord arrondis*/
}

/*nav bar*/
.navbar {
    display: flex; /*Affichage en flex*/
    justify-content: space-around; /*Espace entre les éléments*/
    padding: 1em; /*Marge intérieure*/
}

/* class coordonnées (adresse...) */
.coordonnees {
    text-align: center;/*Alignement du texte*/
    color: rgb(32, 30, 30);/*couleur du texte*/

}

/* class présentation (texte) */
.presentation {
    text-align: center;/*Alignement du texte*/
    font-style: italic;
    text-decoration: underline;  /*Texte souligné*/
    color: rgb(1, 94, 74);/*couleur du texte*/
    font-size: 1.1em; /*Taille de la police*/

}

footer{
    background-image: linear-gradient(rgba(196, 199, 240), rgba(43, 122, 226), rgba(196, 199, 240)); /*couleurs de fond dégradées*/
}

button{
    background-color: rgb(132, 36, 241); /*Couleur de fond*/
    color: rgb(204, 193, 193); /*Couleur du texte*/
    padding: 8px 15px; /*Marge intérieure*/
    border: solid black; /*Bordure noire*/
    border-radius: 10px; /*Bord arrondis*/
    cursor: pointer; /*Curseur de la souris*/    
    margin: 10px; /*Marge de 5px*/
}

button:hover{
    background-color: rgb(241, 36, 138); /*Couleur de fond*/
    color: rgb(22, 21, 21); /*Couleur du texte*/
}